:root {

    /* Theme colors */
    --szabad-fő: #1e1e1e;
    --szabad-másodlagos: #34913c;
    --szabad-ikon: #107e1d;
    --szabad-szoveg: white;

    --vilagos-fő: #ffffff;
    --vilagos-másodlagos: #5cfb38;
    --vilagos-ikon: #8dff8d;
    --vilagos-szoveg: rgb(0, 0, 0);

    --tilos-fő: #1e1e1e;
    --tilos-másodlagos: #db2525;
    --tilos-ikon: #9d0000;
    --tilos-szoveg: #ffffff;

    --hiba-fő: #1e1e1e;
    --hiba-másodlagos: #efff0f;
    --hiba-ikon: #716b1a;
    --hiba-szoveg: #aeba00;

    --kontraszt-fő: #ffffff;
    --kontraszt-másodlagos: #000000;
    --kontraszt-ikon: #ffffff;
    --kontraszt-szoveg: black;

    --data-bs-bg1: #1e1e1e !important;

    }


    html,
    body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE és Edge */
    }

    /* További stílusok Webkit-alapú böngészőkhöz */
    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
    display: none; /* Webkit-alapú böngészők */
    }

    header {
        background-color: var(--data-bs-bg1);
    }

    .dark-mode header {
        background-color: white;
    }

    .card-header {
        border: none !important;
    }

    .card-footer {
        border: none !important;
    }
    
    .box-red{
        color: var(--tilos-másodlagos) !important;
        fill: var(--tilos-ikon) !important;

    }



    .box-red .svgdoboz {
        background-color: var(--tilos-másodlagos) !important;
    }

    .box-green .svgdoboz {
        background-color: var(--szabad-másodlagos) !important;
    }

    .box-orange .svgdoboz {
        background-color: var(--hiba-másodlagos) !important;
    }

    .box-red .svgdoboz2 {
        fill: var(--tilos-másodlagos) !important;
    }

    .box-green .svgdoboz2 {
        fill: var(--szabad-másodlagos) !important;
    }

    .box-orange .svgdoboz2 {
        fill: var(--hiba-másodlagos) !important;
    }

    .box-green{
                   color: var(--szabad-másodlagos) !important;

                    fill: var(--szabad-ikon) !important;
    }

    .box-orange{
                   color: var(--hiba-másodlagos) !important;
                    fill: var(--hiba-ikon) !important;
    }

    
    

    hr {
        border: 1px solid var(--secondary-color);
    }

    .card {
        background-color: #1e1e1e !important;
    }

    .dark-mode .card {
        background-color: white !important;
        fill: #343a40;
        border-color: #343a40;
    }

    .dark-mode body{
        background-color: #ffffff !important; /* Sötét háttérszín */
        color: #343a40 !important; /* Világos szövegszín */
    }

    .dark-mode h4  {
        
        color: #343a40 !important; 
    }

    .dark-mode .accordion-button  {
        background-color: whitesmoke !important; /* Sötét háttérszín */
        color: #343a40 !important; 
    }

    .dark-mode .accordion-body  {
        background-color: white !important; /* Sötét háttérszín */
        color: #343a40 !important; 
    }

    .dark-mode div p  {
        color: #343a40 !important; /* Világos szövegszín */
    }


    .dark-mode div table {
        color: #343a40 !important; /* Világos szövegszín */
    }

      
    .dark-mode .btn {
        color: #343a40;
        border: 1px solid;
    }


    .card-footer {
        color: #ffffff9e !important;

    }

    .card-footer .dark-mode {
        color: #343a40b2 !important;

    }


    .rounded {
        padding: 7px !important;
    }

    svg {
        fill: #ffffff9e !important;
    }

    svg .dark-mode {
        fill: #343a40b2 !important;
    }


    .svgtime {
        fill: #ffffff9e !important;
    }

    .svgtime .dark-mode {
        fill: #343a40b2 !important;
    }

    .viszonylat {
        position: relative;
        left: 5px;
        float: left;
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        min-width: 46px;
        padding: 0 2px;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }

    .vicon {
        float: left;
        display: none;
        align-items: center;
        line-height: 0;
        text-decoration: none;
    }
    

    .dark-mode .viszonylat  {
        color: white !important;
    }

    .dark-mode DIV {
        color: #1e1e1e;
        fill:  #1e1e1e ;
        fill: #343a40b2;
    }

    #menetrend {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        left: 10px;
        
      }
      
      #menetrend td, #menetrend th {
        padding: 8px;
      }
      
      /*#menetrend tr:nth-child(even){background-color: #f2f2f2;}*/
      
      
      #menetrend th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
      }


      .circle-icon {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        border: 3px solid #8A236C;
        background: white;
        vertical-align: middle;
        position: relative;
        z-index: 2;
    }
    
    .stops-line {
        position: relative;
        right: 10px;
        height: 10px;
    }
    
    .stops-line::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 11px;
        width: 8px;
        height: 105%;
        z-index: 1;
    }
      

    main {
        background-color: var(--data-bs-bg1);
    }

    .dark-mode main {
        background-color: white;
    }

    .viszonylatdoboz {
        text-align: center;
        font-size: 24px;
    }

    .marquee-container {
        display: inline-block;
        position: relative;
        max-width: 340px; /* Állítsd be a kívánt maximális szélességet */
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

    /*.marquee {
        display: inline-block;
        animation: marquee 10s linear infinite;
        white-space: nowrap;
        overflow: hidden;
    }
    
    @keyframes marquee {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    }
*/
.card-title,
    .card-subtitle, .stop-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 360px; /* Állítsd be a kívánt maximális szélességet */
}

@media (max-width: 425px) {
    .card-title,
    .card-subtitle, .stop-name {
        max-width: 230px; /* Állítsd be a kívánt maximális szélességet */
    }
}

@media (max-width: 375px) {
    .card-title,
    .card-subtitle, .stop-name{
        max-width: 190px; /* Állítsd be a kívánt maximális szélességet */
    }
}

@media (max-width: 320px) {
    .card-title,
    .card-subtitle, .stop-name {
        max-width: 145px; /* Állítsd be a kívánt maximális szélességet */
    }
}
