:root {

    /* Theme colors */
    --szabad-fő: #1e1e1e;
    --szabad-másodlagos: #34913c;
    --szabad-ikon: #107e1d;
    --szabad-szoveg: white;

    --vilagos-fő: #ffffff;
    --vilagos-másodlagos: #5cfb38;
    --vilagos-ikon: #8dff8d;
    --vilagos-szoveg: rgb(0, 0, 0);

    --tilos-fő: #1e1e1e;
    --tilos-másodlagos: #db2525;
    --tilos-ikon: #9d0000;
    --tilos-szoveg: #ffffff;

    --hiba-fő: #1e1e1e;
    --hiba-másodlagos: #efff0f;
    --hiba-ikon: #716b1a;
    --hiba-szoveg: #aeba00;

    --kontraszt-fő: #ffffff;
    --kontraszt-másodlagos: #000000;
    --kontraszt-ikon: #ffffff;
    --kontraszt-szoveg: black;

    }

    .card-header {
        border: none !important;
    }

    .card-footer {
        border: none !important;
    }
    
    .box-red{
        color: var(--tilos-másodlagos) !important;
        border-color: var(--tilos-másodlagos) !important;
        fill: var(--tilos-ikon) !important;

    }

    .box-red .svgdoboz {
        background-color: var(--tilos-másodlagos) !important;
    }

    .box-green .svgdoboz {
        background-color: var(--szabad-másodlagos) !important;
    }

    .box-orange .svgdoboz {
        background-color: var(--hiba-másodlagos) !important;
    }

    .box-red .svgdoboz2 {
        fill: var(--tilos-másodlagos) !important;
    }

    .box-green .svgdoboz2 {
        fill: var(--szabad-másodlagos) !important;
    }

    .box-orange .svgdoboz2 {
        fill: var(--hiba-másodlagos) !important;
    }

    .box-green{
                   color: var(--szabad-másodlagos) !important;
            border-color: var(--szabad-másodlagos) !important;
                    fill: var(--szabad-ikon) !important;
    }

    .box-orange{
                   color: var(--hiba-másodlagos) !important;
            border-color: var(--hiba-másodlagos) !important;
                    fill: var(--hiba-ikon) !important;
    }

    body {
        background-color: #1e1e1e !important;
    }

    hr {
        border: 1px solid var(--secondary-color);
    }

    .card {
        background-color: #1e1e1e !important;
    }

    .dark-mode .card {
        background-color: white !important;
        fill: #343a40;
    }

    .dark-mode body{
        background-color: #ffffff !important; /* Sötét háttérszín */
        color: #343a40 !important; /* Világos szövegszín */
    }

    .dark-mode div  {
        background-color: transparent !important; /* Sötét háttérszín */
        fill: white !important;
    }

    .dark-mode div p  {
        color: #343a40 !important; /* Világos szövegszín */
    }


      
    .dark-mode .btn {
        color: #343a40;
        border: 1px solid;
    }

    .viszonylat {
        float: left;
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        min-width: 46px;
        padding: 0 2px;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }

    .vicon {
        float: left;
        display: flex;
        align-items: center;
        line-height: 0;
        text-decoration: none;
    }
    

    .dark-mode .viszonylat  {
        color: white !important;
    }
      