@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;800&display=swap');

body {
    background-image:url("https://cdn.dribbble.com/users/3575765/screenshots/15340672/media/daf8b6d4cd1716be5a33127b666f58b1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #62c9dc;
    color: white;
    font-family: Mukta;
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

/* harang ikon (ez vegul nem lett megcsinalva mert felesleges es jobb megoldas volt ra a gomb) */

#notification {
    position: absolute; 
    top: 5px;
}

/* a header udvozlo elementei */

#welcome {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0px;
    font-size: 55px;
    font-weight: 800;
}

#date {
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 600;
}

/* idojaras */

#location-name {
    text-align: center;
    font-weight: 600;
    margin-top: 45px;
    font-size: 50px;
    letter-spacing: 0px;
}

#location-name span {
    margin-right: 5px;
    vertical-align: middle;
}

#seal-image {
    width: 60px;
    height: 60px;
    margin-left: 0px;
    flex-shrink: 0;
    vertical-align: middle; 
}

#location-name {
    display: flex;
    align-items: center;
}

#wind {
    text-align: center;
    font-size: 32px;
}

#weather-data {
    text-align: center;
    margin-top: -20px;;
    font-size: 32px;
}

/* email form */

#email-form {
    text-align: center;
}

#email-form h2 {
    font-weight: 600;
    font-size: 30px;
    padding-top: 25%;
}

/* footer box */

#sub-title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

#sub-p {
    text-align: center;
    padding-top: 15px;
    font-size: 28px;
}

#sub-f {
    text-align: center;
    font-weight: bold;
    padding-top: 45px;
    font-size: 25px;
}