<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenStreetMap with Geocoding Example</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <meta name="theme-color" content="#1e1e1e">
    <link rel="manifest" href="{{ manifest_url }}" />
    <link rel="icon" href="https://apiv2.phntm.hu/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        #map {
            height: 220%;
            width: 100%;
        }

        @media (max-width: 430px) {
            #map {
            height: 140%;
        }
            
        }

        div .leaflet-control-attribution {
            display: none !important;
        }

        .box {
            background-color: #2b3035;
            border: 1px solid #495057;
            margin: 1%;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Hely keresés:</span>
                    <input class="form-control" type="text" id="searchInput" placeholder="keresés"
                        aria-describedby="inputGroup-sizing-lg">
                    <button class="input-group-text" onclick="searchLocation()">Keresés</button> <br><a
                        href="{{ url_for('index') }}" class="input-group-text" aria-pressed="false">Mentés</a>

                </div>
                <div class="input-group input-group-lg" id="searchResults"></div>


                <div id="map"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <form id="radiusForm">
                                <div class="input-group input-group-lg"></div>
                                <label for="radiusInput" class="form-label">Rádiusz: <em id="rangeValLabel">2000</em>m</label>
                                
                                <input style="width: 100%;" id="radiusInput" name="radius" type="range" class="form-range"
                                    min="0" max="2000" value="2000"  oninput="document.getElementById('rangeValLabel').innerHTML = this.value;" >
                                <output for="radiusInput" onforminput="value = foo.valueAsNumber;"></output>
    
                                <button class="input-group-text" type="submit">Küldés</button>
                        </div>
                        
                    </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Rögzített helyek:</span>
                        <button class="form-control" onclick="selectLocation(47.047663150000005,18.057475161980424)">Füzfő</button>
                        <span class="input-group-text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>





    </div>



    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([47.4979, 19.0402], 10);
        var marker = null;

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        function searchLocation() {
            var searchInput = document.getElementById('searchInput').value;
            fetch('https://nominatim.openstreetmap.org/search?format=json&q=' + searchInput)
                .then(response => response.json())
                .then(data => {
                    var resultsDiv = document.getElementById('searchResults');
                    resultsDiv.innerHTML = '';
                    data.forEach(place => {
                        var result = document.createElement('div');
                        result.innerHTML = '<button onclick="selectLocation(' + place.lat + ',' + place.lon + ')">' + place.display_name + '</button>';
                        resultsDiv.appendChild(result);
                    });
                });
        }

        function selectLocation(lat, lon) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker([lat, lon]).addTo(map);
            map.setView([lat, lon], 13);

            // Elküldjük a koordinátákat a Flask szervernek
            fetch('/update_coordinates', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'lat=' + lat + '&lon=' + lon,
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Failed to update coordinates');
                    }
                })
                .then(data => {
                    console.log(data); // A Flask válaszának a logolása
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function updateSession() {
            // Frissítjük a munkamenetet
            fetch('/refresh_session', {
                method: 'POST',
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Failed to refresh session');
                    }
                })
                .then(data => {
                    console.log(data); // A Flask válaszának a logolása
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
    <script>
        document.getElementById('radiusForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Az alapértelmezett formaküldés megakadályozása

            var form = new FormData(this); // Az űrlap adatok összegyűjtése
            var radius = form.get('radius'); // A sugár értékének kiolvasása

            // Küldjük el a sugár értékét a Flask szervernek egy POST kéréssel
            fetch('/update_radius', {
                method: 'POST',
                body: form
            })
                .then(response => {
                    if (response.ok) {
                        // Ha a válasz státusza rendben van, akkor frissíthetjük az oldalt vagy végezhetünk más műveleteket
                        window.location.reload();
                    } else {
                        throw new Error('Hiba történt a sugár frissítése közben');
                    }
                })
                .catch(error => {
                    console.error('Hiba:', error);
                });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>